<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SpeechAzureKey" value="387fcb951139493aac991c514fb89496" />
		<add key="SpeechAzureRegion" value="uksouth" />
	</appSettings>
</configuration>